# Env Variables for Dashboard
N8N_WEBHOOK_URL="https://n8n.javiasl.es/webhook"
N8N_API_KEY="sk_dash_67890"

# Webhook IDs for CRM Operations
N8N_FETCH_LEAD_BY_ID_WEBHOOK_ID="c5ef6da7-cc54-4219-be3f-1e4ebcfc6904"
N8N_UPDATE_LEAD_WEBHOOK_ID="ac177c2e-c6fe-4f34-a734-56da8a44993d"
N8N_CREATE_ACTIVITY_WEBHOOK_ID="7a14cb5e-9b8e-4ab5-8634-61e652485739"
N8N_WHATSAPP_WEBHOOK_ID="b949a121-d460-4c43-8bbb-12dad5eafab4"
N8N_EMAIL_WEBHOOK_ID="5e98b182-ec37-41c3-839e-7fb4a473a624"

# Secret if you implement full JWT parsing
JWT_SECRET="super_secret_for_local"
